[tasks.test]
env = { CLICOLOR = "1" }
run = "cargo nextest run --no-fail-fast"

[tasks.test-unit]
env = { CLICOLOR = "1" }
run = "cargo nextest run --no-fail-fast -E 'not binary(integration)'"

[tasks.test-int]
env = { CLICOLOR = "1" }
run = "cargo nextest run --no-fail-fast -E 'binary(integration)'"

[tools]
"cargo:cargo-nextest" = "latest"
"cargo:cargo-release" = "latest"
"github:axodotdev/cargo-dist" = { version = "0.30.4", exe = "dist" }
git-cliff = "latest"
